---
import LinkedinSvg from "../../assets/linked_in_cc.svg";
import GithubSvg from "../../assets/github_mit.svg";

interface Props {
  className?: string;
}

const { className } = Astro.props;

const socialMedia = [
  {
    svg: LinkedinSvg,
    link: "https://www.linkedin.com/in/paul-coral-a5aa84203/",
  },
  {
    svg: GithubSvg,
    link: "https://github.com/PaulCoral",
  },
] as const;
---

<div class={`flex gap-4 h-6 ${className}`}>
  {
    socialMedia.map((social) => (
      <a href={social.link}>
        <social.svg class="fill-white" height="100%" width={null} />
      </a>
    ))
  }
</div>
