:host {
  display: block;
  border-radius: 1rem;
  box-shadow: #00000075 1px 1px 6px 0px;
  padding: 1rem;
  transition: scale 0.5s ease;

  &:hover {
    scale: 1.025;
  }

  h1 {
    margin: 0;
  }
}
