@import "tailwindcss";

:root {
  --my-color:#797979;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-accent: #1491b8;
  --color-soft: #797979; 
}

a {
  @apply text-accent
}

a:hover {
  @apply underline
}
