---
import LanguagePicker from "../components/atom/LanguagePicker.astro";
import "../styles/global.css";
import { useTranslations } from "../utils/i18n";
import SocialMedia from "../components/atom/SocialMedia.astro";

const t = useTranslations(Astro.currentLocale);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="description"
      content="I'm Paul Coral, a Full-Stack Engineer building efficient and user-friendly web applications. Explore projects using Scala, Java, Angular, TypeScript and PostgreSQL to solve real-world problems."
    />
    <meta name="generator" content={Astro.generator} />
    <title>Paul Coral - Fullstack Software Engineer</title>
  </head>
  <body>
    <header class="bg-gray-600 text-white border-b-8 border-accent mb-10">
      <div class="w-full flex justify-end p-4 h-16">
        <LanguagePicker />
      </div>
      <div class="flex flex-col items-center justify-center px-4">
        <h1
          class="font-bold text-8xl m-4 text-white text-shadow-2xs text-shadow-accent"
        >
          Paul Coral
        </h1>
        <p class="text-4xl">{t("home.header-subtitle")}</p>
      </div>
      <div class="flex items-center justify-center h-16">
        <SocialMedia />
      </div>
    </header>
    <slot />
    <footer
      class="flex flex-col items-center justify-center gap-4 bg-gray-600 text-white px-4 py-8 border-t-8 border-accent mt-10"
    >
      <div>Paul Coral, 2025</div>
      <div class="flex items-center justify-center">
        <SocialMedia />
      </div>
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
