<header>
  <div class="info-wrapper">
    <span class="names">Paul Coral</span>
    <span class="titles">Full-stack Software Engineer</span>
  </div>
  <img
    class="profile-img"
    src="https://avatars.githubusercontent.com/u/39838649?v=4"
    alt="profile picture"
    width="200"
  />
</header>
<div class="main-wrapper">
  <main>
    <section class="project-section">
      <h1>Projects</h1>
      <div class="project-cards">
        <app-card
          title="MyProject"
          text="This is my project, I love it. Lorem ipsum matrem."
        ></app-card>
        <app-card
          title="MyProject"
          text="This is my project, I love it. Lorem ipsum matrem."
        ></app-card>
        <app-card
          title="MyProject"
          text="This is my project, I love it. Lorem ipsum matrem."
        ></app-card>
      </div>
    </section>

    <section>
      <h1>Work Experience</h1>
    </section>
  </main>
</div>

<router-outlet></router-outlet>
