---
interface Props {
  id?: string;
  className?: string;
  hoverHightlight?: boolean;
}

const { id, className, hoverHightlight } = Astro.props;

const hoverHighlightClass = hoverHightlight ? "hoverHightlight" : "";
---

<div
  id={id}
  class={`wrapper ${hoverHighlightClass} rounded ${className ?? ""}`}
>
  <slot />
</div>

<style>
  .wrapper {
    box-shadow: 1px 1px 4px 1px var(--color-soft);
    transition: box-shadow 0.4s ease;
  }

  .wrapper.hoverHightlight:hover {
    box-shadow: 1px 1px 4px 2px var(--color-accent);
  }

  :target {
    box-shadow: 1px 1px 4px 2px var(--color-accent);
  }

  .wrapper.zoom {
    transition: scale 1s;
    transform: translateZ(0);
  }

  .zoom:hover {
    scale: 101%;
  }
</style>
