---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div class={`wrapper rounded ${className ?? ""}`}>
  <slot />
</div>

<style>
  .wrapper {
    box-shadow: 1px 1px 4px 1px var(--color-soft);
    transition: scale 0.5s;
  }

  .wrapper:hover {
    scale: 101%;
  }
</style>
